* {
    padding: 0;
    margin: 0;
}

.js-label-form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px inset rgb(40, 40, 169);
    background-color: skyblue;
    padding: 30px;
    position: relative;
    z-index: 1;
}

.js-search-input {
    margin-right: 15px;
    margin-left: 15px;
}

.js-search-suggestions {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid rgb(40, 40, 169);
    max-width: 100px;
    background-color: skyblue;
    position: absolute;
    z-index: 1000;
}

.js-search-suggestions li {
    padding: 8px;
    border-bottom: 1px solid rgb(40, 40, 169);
}

.js-search-suggestions li:hover {
    color: white;
}

.js-search-button {
    background-color: skyblue;
    border-color: 1px solid rgb(40, 40, 169);
    border-radius: 50%;
    padding: 15px;
}

.js-canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
