.js-search-form {
    display: flex;
    justify-content: center;

}

.js-search-input {
    margin-bottom: 15px;
}

.js-search-suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-width: 300px;
    background-color: white;
    position: absolute;
    z-index: 1000;
}

.js-search-suggestions li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.js-search-suggestions li:hover {
    background-color: #f0f0f0;
}
